.statTitle {
    font-family: 'Lato', serif;
}

.statContainer {
	text-align: left;
	margin: 20px 0px;
	padding: 0px 20px;
	border-right: 1px solid grey;
}

.imageSize {
	max-width: 25px;
	padding: 0;
}

.green {
	color: green;
}

.red {
	color: red;
}