.gallery {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
}

.responsive {
	max-width: 100%;
	min-height: 100%;
}

.cell {
	margin: 1rem;
}

.cell img {
	border: 1px solid white;
	display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  }
  .cell {
    width: calc(40% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 4);
  }
}