.hide {
	display: none
}

.wrapper a {
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;

}

.wrapper a:hover {
	color:white;
	background-color: grey;	
	padding:1px;
}

.typeahead ul {
	position: fixed;
	padding: 20px;
}

.results {
	text-decoration: none;
	color: white;
	text-align: left;
}

.wrapper input {
  height: 44px;
  width: 482px;
  margin-top: 20px;
  /*background: rgba(0, 255, 237, 0.5);*/
  border-radius: 24px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) ;
  border: 1px solid #dfe1e5;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #283e4a;
}

.wrapper ul {
  position: fixed;
  background-color: rgba(183, 202, 220, 0.4);
  margin-left: 25px;
}

.wrapper input:hover {
  	border-bottom-right-radius: 24px;
  	box-shadow: 0 3px 8px 0 rgba(32,33,36,0.28) ;
}

.wrapper input:focus {
  	border-bottom-right-radius: 24px;
  	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  	outline: none;
}

.wrapper input::placeholder { color: #283e4a; font-size: 1.5em; }
.wrapper input:focus::-webkit-input-placeholder { color:transparent; }
.wrapper input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.wrapper input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.wrapper input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
