.hide {
	display: none
}

.wrapper {
	text-decoration: none;
	color: white;
}

.wrapper a {
	text-decoration: none;
	color: white;	
}

.typeahead {
	position: absolute;
}

.results {
	text-decoration: none;
	color: white;
	text-align: left;
}


