.headerStyle {
	height: 10vh;
	width: 100%;
	background-color: #012947;
	display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #C7D1D7;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.headerStyle h1 {
	margin: 0;
}

.headerTitle {
	margin-left: 20px;
}